
<div class="contenair_connect">
    <div class="titre_connec">
        <h2>S'identifier</h2>
    </div>

    <div class="contenai_connec">


        <div class="formulaire_connec">

            <div class="formulaire_inscri">
                <div class="contenair_formulaire inscri_contenaire">
                    <div class="titre_inscri titre_connect">
                        <h2>déjà un compte ?</h2>
                    </div>
                    <div class="form_inscription form_connect">
                        <span id="erreur"></span>
                        <input type="text" id="email" placeholder="Email">
                        <input type="password" id="password" placeholder="Mot de passe">
                        <button id="buttonConnexion" class="button_connect button_inscription connec_button">Se connecter</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="formulaire_inscri contenair_info">
            <div class="contenair_formulaire margin inscri_contenaire info_co">
                <div class="titre_inscri titre_connect titre_info">
                    <h2>Pas encore de compte ?</h2>
                </div>
                <p>Découvrez un espace personnalisable dédié à
                    votre projet professionnel et tous les outils nécessaires à
                    chaque étape de votre parcours</p>
                <button class="button_connect button_inscription button_style"><a href="inscriptionfinale.html"> Créer un compte</a></button>
            </div>
        </div>


    </div>
</div>

 
 