<div id="header"></div>
<div id="contenu"></div>
<div id="footer"></div>

<script src='../jquery-3.4.1.min.js' type='text/javascript'></script> 
<script type='text/javascript'>
var url= location.search;
var param = url.substr(1);
var tab = param.split('=');
var token=(tab[1]);

$(document).ready(function()
{
	
	$.ajax({
		url: "https://127.0.0.1:8000/testconnexion",
		type: 'POST',
		data:{
				"X-AUTH-TOKEN":token,
			},
		dataType: 'json',
		crossDomain: true, 
			
	}).done(function(data){
		if(data['login']==='ok')
		{
			$( "#header" ).load( "template2.html" );
		}	
		else
			{
				$( "#header" ).load( "template1.html" );
				document.location.href='connexionfinale.html?token='+token;
			}	
	}).fail(function(){
		$( "#header" ).load( "template1.html" );
		document.location.href='connexionfinale.html?token='+token;
	}).always(function(){

     	$( "#contenu" ).load( "user.html" , 
     		function()
     		{
     			//bouton deconnexion
     			$("#deconnexion").click(function(){
				$.ajax({
				url: "https://127.0.0.1:8000/deconnexion",
				type: 'POST',
				data:{
						"X-AUTH-TOKEN":token,
					},
				dataType: 'json',
				crossDomain: true, 
			
				}).done(function(data){console.log(data)})
				.always(function(){
				document.location.href='connexionfinale.html';
				});
				})
				//action spécifiques
				
				$.ajax({
					url: "https://127.0.0.1:8000/profil",
					
					//headers:{"X-AUTH-TOKEN":"REAL"},
					data:{"X-AUTH-TOKEN":token ,
				
					},
					type: 'POST',
					dataType: 'json',
					crossDomain: true, 
					
				}).done(function(data){
					$("#nom").text(data.user[0].nom)
					$("#prenom").text(data.user[0].prenom)
					$("#prenom_utilisateur").text(data.user[0].prenom)
					$("#email").text(data.user[0].email)
					$("#statut").text(data.user[0].role[0])
				
					var role = data.user[0].role[0];

					if(role === "ROLE_ADMIN")
					{
						$("#statut").text("Formateur")
					}
					
					if(role === "ROLE_USER")
					{
						$("#statut").text("Stagiaire")
					}

					$("#formation").text(data.user[0].formation[0])   
					//console.log(data);

					var candidature = data['candidature'];
					
					candidature.forEach(function(element)
					{
						var date = new Date(element["date"].date);
						const options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour:'2-digit', minute:'2-digit'};
						var date = date.toLocaleDateString("fr-FR", options);
						var etat = element["etat"];
					
						if(element["etat"] === 0)
						{
							var etat = "En cours";
						}

						if(element["etat"] === 1)
						{
							var etat = "Fini";
						}
						
						var html = '<div class="ligne_histo">'+
						'<div class="nom_histo">'+
							'<label>Nom entreprise</label>'+
							'<h3 id="nom_entreprise">'+element["entreprise"]+'</h3>'+
						'</div>'+
	
						'<div class="date_histo">'+
							'<label>Date</label>'+
							'<h3 id="date_candidature">'+date+'</h3>'+
						'</div>'+
	
						'<div class="statut_histo">'+
							'<div>'+
								'<label>Statut</label>'+
								'<h3 id="etat_candidature">'+etat+'</h3>'+
							'</div>'+
							'<i class="fas fa-circle"></i>'+
						'</div>'+
						'</div>';
						
							$(html).appendTo($('.historique_contenair')) 

						
						//alert(JSON.parse(data));
						//alert(data);
					})
				}).always(function(){
					console.log("end2");
				});
			
				
     	
     		});
     	$("#footer").load("footer.html");

   	});
});



   
  </script>