<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Afpa-S</title>
    <link rel="shortcut icon" type="image/png" href="image/logo.png"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/site.css">
    <script src="../jquery-3.4.1.min.js"></script>
    <script src="../jquery-ui-1.12.1/jquery-ui.js"></script>
</head>
<body>
<header class="fond_header_template2" id="header">
    <div class="contenair_header">
        <div class="logo2">
            <img src="../image/logo.png">
        </div>

        <div class="naviguation_menu2">
            <div class="option">
                <i class="fas fa-bell"></i>
                <label>Anotations</label>
            </div>

            <a class="option" id="recherche_lien"href="">
                <i class="fas fa-search"></i>
                <label>Rechercher</label>
            </a> 
           
            <a class="option" id="compte_lien">
                <i class="fas fa-user"></i>
                <label>Mon Compte</label>
            </a>   
        </div>
    </div>
    <div class="little_header">

    </div>

</header>
<script>
$("#recherche_lien").attr("href","recherchefinale.html?token="+token+"");
$("#compte_lien").attr("href","profilfinal.html?token="+token+"");
</script>
