<div class="contenair_principal">
   
    <div class="contenair_formulaire_inscription">
        <div class="titre_inscri">
            <h2>Je m'inscris <label><b>maintenant</b></label> </h2>
        </div>
        <span id="message"></span>
        <div class="form_inscription">
         <span id="erreurEmail"></span>
            <input type="email" id="email" placeholder="Email">
            <div class="form_centre"><p>Exemple: Afpa56@gmail.com</p></div>
             <span id="erreurNom"></span>
            <input type="text" id="nom" placeholder="Nom">
             <span id="erreurPrenom"></span>
            <input type="text" id="prenom" placeholder="Prenom">
             <span id="erreurPassword"></span>
            <input type="password" id="password" placeholder="Mot de passe">
            <div class="form_centre"><p>* Saisisez au moins 8 caractères</p></div>
             <select id="formation" placeholder="Choisissez une formation">
             </select>
            <!--
            <input type="password" placeholder="Confirmer Mot de passe">
            -->
            <button id="buttonInscription" class="button_connect button_inscription">S'inscrire</button>
        </div>
    </div>
</div>



